.card {
  background-color:rgb(249, 241, 226);
  list-style-type: none;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
  width: 24rem;
  flex-grow: 1;
}


img {
  border-bottom: 0.25rem solid #fc0;
  border-radius: 0.25rem 0.25rem 0 0;
  height: auto;
  width: 100%;
  transition: transform 0.2s;
}

img:hover {
transform: scale(1.03);
}

.header-container h1 {
 text-align: center;
 font-size: 3rem;
 color:darkblue
  
 }
 .header-container h2 {
  text-align: center;
  font-size: 2rem;
  color: rgb(180, 101, 5)
 }

@media screen and (max-width: 768px) {
  img {
    min-height: 15.5rem;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-right: 15px;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  img {
    min-height: 15.5rem;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-right: 15px;
    gap: 10px;
  }
}

@media screen and (max-width: 1200px) {
  img {
    min-height: 16.375rem;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-right: 25px;
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  img {
    min-height: 16.1rem;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-right: 20px;
    gap: 15px;
  }
  }

@media screen and (min-width: 992px) {
img {
  min-height: 16.1rem;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  margin-right: 20px;
  gap: 15px;
}
}
  

.card-content {
  padding: 1rem;
}

.header,
.subheader {
  margin: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 40px;
  height: 0;
  overflow: hidden;
  margin: 60px; 
  border: 1px solid #ccc; 
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}